.app_violet_theme {
    --bg-color: #F8F4FB;
    --inverted-bg-color: #9411ff;
    --primary-color: #09070c;
    --secondary-color: #0008E6;
    --inverted-primary-color: #F8F4FB;
    --inverted-secondary-color: #F8F4FB;
}
