.ProfilePageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .editBtn {
    }
}

.buttons {
    display: flex;
    gap: 10px;
}

.btnsWrapper{
    margin-left: auto;

}
