.ProfileCard{
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.data{
  margin-top: 30px;
}

.editBtn{
  margin-left: auto;

}

.header {
  display: flex;
  justify-content: space-between;
}
.input{
  margin-top: 10px;
}